/* @import url("https://fonts.googleapis.com/css?family=Lato:300"); */
@import url("reset.css");
@import url("H-F-b.css");

@media (min-width: 1025px){
    body{
        line-height:1.4;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        background-image: linear-gradient(305deg, 
        hsl(356.714,59%,76%),
        #FFF);
        background-size: 300% 300%;
        background-position: 0 50%;
        animation: moveGradient 4s alternate infinite;
    }

    @keyframes moveGradient {
        50% {
          background-position: 100% 50%;
        }
    }
    
    
    
    .checkoutWrap{
        padding-top: 50px;
        padding-bottom: 110px;
        transition: all 0.3s linear;
        /* border-bottom: 1px solid #000; */
    }
    
    .rowhead{
            
        font-size: 30px;
        letter-spacing: 3px;
        color: #000;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .CartConfirm{
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .step-1-head{
        font-size: 16px;
        letter-spacing: 3px;
        color: #404040;
        text-align: center;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 13px 0;
    
    }
    
    .row{
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .large-1{
        width: 16.66667%;
        float: left;
        clear: none;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }

    .large-2{
        width: 16.66667%;
        float: left;
        clear: none;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
    
    .show-for-large2{
        margin-left: 33.33333%;
        width: 16.66667%;
        float: left;
        clear: none;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
    
    .step-1-cartList ul{
        
    }
    
    .step-1-cartList li{
        position: relative;
        padding: 13px 5px;
        display: flex;
        justify-items: center;
        width: 100%;
    }
    
    .text-center{
    
    }
    
    .text-center img{
      
        width: 138px;
    }
    
    .countWrap-hide-for-large{
        display: none;
    }

    .pName{
        padding-top: 60px;
    }
    .pName .ch{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #333;
        padding-left: 10px;
        
    }
    
    
    .countWrap{
        height: 15px;
        font: 14px/1 "Bree Serif", serif;
        display: flex;
        color: #333;
        border: 1px solid #4d4d4d;
        transform: translateY(260%);
        padding: 3px 0;
        text-align: center;
        width: 85px;
        margin-left: 204px;
    
    }   
    
    .countWrap img{
        width: 9px;
    }

    .countWrap .value-button{
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #input-wrap {
       
    }
        
    input#number {
    width: 62px;
    text-align: center;
    border: none;
    background-color: inherit;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    
    .text-center .price{
        font: 17px/1 "Bree Serif", serif;
        color: #666;
        transform: translateY(43%);
        text-align: center;
        margin-left: 120px;
        width: 60px;
    }
    
    .itemClose{
        transform: translateY(43%);
        margin-left: 88px;
      
    }
    
    .itemClose img{
        width: 18px;
    }
    
    
    
    
    .row-deliveryWrap{
        background-color: transparent;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 18px 0;
        margin-bottom: 26px;
    
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .shipping-method-select{
        width: 25%;
        display: flex;
    }
    
    .input{
        display: none;
        
    }
    
    .label{
        
    }
    .delivery-tittle{
        font: 16px/1.5 "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        letter-spacing: 1px;
        color: #000;
    }
    
    .delivery-note{
        font: 12px/1.8 "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        letter-spacing: 1px;
        color: #8c8c8c;
    }
    
    .billWrap{
        text-align: right;
        position: relative;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .billWrap .remark{
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.8;
        color: #990033;
        position: absolute;
        top: 0;
        left: 15px;
        text-align: left;
    }

    .remark li{
        background:url("/photo of SC/title-party-icon.png") no-repeat;
    }

    .remark p{
        padding-left: 25px;
    }
    
    .bw-container{
        font: 600 16px/1 "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        letter-spacing: 1px;
        color: #8c8c8c;
        border-bottom: 1px solid #000;
        margin-bottom: 40px;
        margin-left: 58.33333%;
        width: 41.66667%;
    }
    
    .row-item{
        max-width: none;
        margin-bottom: 14px;
        width: 58.33333%;
        margin-left: auto;
        position: relative;
    }
    
    .small-4{
        text-align: left;
        width: 33.33333%;
        float: left;
        clear: none;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
    
    .small-4-total-price{
        text-align: left;
        width: 33.33333%;
        float: left;
        clear: none;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        color: #000;
        
    }
    .small-8-total-price{
        color: #000;
        padding-top: 3px;
    }
    
    .bw-btnWrap{
        margin-left: 58.33333%;
        width: 41.66667%;
        
    }
    
    .bw-btnWrap .black-item{
        width: 146px;
        height: 42px;
        display: inline-block;
        vertical-align: top;
        margin-right: 25px;
        border: 1px solid #272525;
        position: relative;
        transition: all 0.5s;
        
    }

    .black-item:hover{
        background-color: #D9ADA0;
    }
    
    .black-item>a {
        
       
    }
    
    a{
        text-decoration: none;
        color: #272525;
    }
    
    .black-item .white{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    
}

@media (max-width: 1024px){
    body{
        line-height:1.4;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        background-image: linear-gradient(305deg, 
        hsl(356.714,59%,76%),
        #FFF);
        background-size: 300% 300%;
        background-position: 0 50%;
        animation: moveGradient 4s alternate infinite;
    }

    @keyframes moveGradient {
        50% {
          background-position: 100% 50%;
        }
    }
    
    
    
    .checkoutWrap{
        width: auto;
        margin: 0 auto;
        padding: 170px 20px 80px;
        transition: all 0.3s linear;
    }
    
    .rowhead{
        font-size: 18px;
        margin-bottom: 24px;
        letter-spacing: 3px;
        color: #000;
        text-align: center;
    }
    
    .CartConfirm{
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .step-1-head{
        font-size: 13px;
        letter-spacing: 3px;
        color: #404040;
        text-align: center;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 13px 0;
    
    }

    .show-for-large1, .show-for-large2, .delete{
        display: none;
    }
    
    .row{
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .large-1{
        width: 25%;
        float: left;
        clear: none;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }

    .large-2{
        width: 12%;
       
        clear: none;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        margin-left: 75%;
    }
    
    .show-for-large2{
        margin-left: 33.33333%;
        width: 16.66667%;
        float: left;
        clear: none;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
    
    .step-1-cartList ul{
        
    }
    
    .step-1-cartList li{
        position: relative;
        padding: 13px 5px;
        display: flex;
        justify-items: center;
        width: 100%;
    }
    
    .text-center{
    
    }
    
    .text-center .pic{
        width: 25%;
        padding: 0 10px;
    }

    .text-center img{
        
        width: 100%;
        height: auto;
    }
    
    .pName{
        padding-top: 15px;
        width: 41.66667%;
        padding: 0 10px;
    }
    .pName .ch{
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #333;
        
        
    }

    .countWrap-hide-for-large{
        height: 18px;
        font: 14px/1 "Bree Serif", serif;

        display: flex;
        color: #333;
        border: 1px solid #4d4d4d;
        position: relative;
        top: 0;
        transform: translateY(50%);
        padding: 3px 0;
        text-align: center;
        width: 95px;
    
    }
    
    .countWrap-hide-for-large img{
        width: 9px;
        padding: 4px;
    }

    .countWrap-hide-for-large .value-button{
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #input-wrap {
       
    }
        
    input#number {
    width: 100%;
    text-align: center;
    border: none;
    background-color: inherit;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }



    .countWrap{
        display: none;
    }   
    
  
    
    .text-center .price{
        font: 17px/1 "Bree Serif", serif;
        color: #666;
        transform: translateY(43%);
        text-align: center;
        /* margin-left: 120px; */
        width: 33.33333%;
    }
    
    .itemClose{
        transform: translateY(43%);
        /* margin-left: 80px; */
      
    }
    
    .itemClose img{
        width: 18px;
    }
    
    
    
    
    .row-deliveryWrap{
        background-color: transparent;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 18px 0;
        margin-bottom: 14px;
    
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .shipping-method-select{
        width: 30%;
        display: flex;
    }
    
    .input{
        display: none;
        
    }
    
    .label{
        
    }
    .delivery-tittle{
        font: 13px/1.5 "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        letter-spacing: 1px;
        color: #000;
    }
    
    .delivery-note{
        font: 12px/1.8 "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        letter-spacing: 1px;
        color: #8c8c8c;
    }
    
    .billWrap{
        text-align: right;
        position: relative;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .billWrap .remark{
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 1.8;
        color: #990033;
        position: relative;
        top: 0;
        left: 0;
        text-align: left;

        
    
    
        border-bottom: 1px solid #000;
        margin-bottom: 17px;
        padding-bottom: 16px;
        
    }
    
    .remark li{
        /* list-style-image:url('/photo of SC/title-party-icon.png'); */
        background:url("/photo of SC/title-party-icon.png") no-repeat;
    }

    .remark p{
        padding-left: 25px;
    }


    .bw-container{
        font: 600 14px/1 "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        letter-spacing: 1px;
        color: #8c8c8c;
        border-bottom: 1px solid #000;
        margin-bottom: 40px;
        /* margin-left: 58.33333%; */
        width: 100%;
    }
    
    .row-item{
        max-width: none;
        margin-bottom: 14px;
        width: 58.33333%;
        margin-left: auto;
        position: relative;

        font-size: 14px;
        margin-bottom: 24px;
    }
    
    .small-4{
        text-align: left;
        width: 33.33333%;
        float: left;
        clear: none;
        /* padding-right: 0.9375rem;
        padding-left: 0.9375rem; */
        padding: 0 10px;
    }
    
    .small-4-total-price{
        font-size: 15px;
        text-align: left;
        width: 33.33333%;
        float: left;
        clear: none;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        color: #000;
        
    }
    .small-8-total-price{
        color: #000;
        padding-top: 3px;
    }
    
    .bw-btnWrap{
        
        text-align: center;
        
    }
    
    .bw-btnWrap .black-item{
        width: 130px;
        height: 42px;
        display: inline-block;
        vertical-align: top;
        
        margin: 8px 10px 0px;
       
        border: 1px solid #272525;
        position: relative;
        
    }
    
    .black-item>a {
        
       
    }
    
    a{
        text-decoration: none;
        color: #272525;
    }
    
    .black-item .white{
        color: #272525;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
}








