@import url("reset.css");
@import url("H-F-b.css");

@media (min-width: 1024px){
    body{
        line-height:1.4;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        background-color: #FAEAE3;
    }
    
    
    .page-menu{
        margin: 0 auto;
        transition: all 0.3s linear;
    }
    
    .menu_name{
    
    }
    
    .esbtn{
        text-align: center;
        margin: 3em 0 4em;
    }
    
    .esbtn p{
        padding: 0.7em 1.5em;
        font-size: 1.2em;
        letter-spacing: 2px;
        background: #D9ADA0;
        color: #fff;
        border-radius: 100px;
        display: inline-block;
        min-width: 80px;
        text-align: center;
        font-style: normal;
        text-decoration: none;
        transition: all .5s;
    }
    
    .esbtn p:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    .py-5{
        padding: 0em 0 5em;
    }
    
    .me_wrap{
        width: 900px;
        margin: 0 auto;
    }
    
    .btn-group{
        display: table;
        float: right;
        position: relative;
        z-index: 1;
        overflow: hidden;
        
        
    }
    
    h3{ 
        color: #000;
        font-size: 1em;
        display: table-cell;
        padding-right: 1em;
        font-weight: bolder;
        line-height: 1.4;
    }
    
 
    
    .btn-group button{
        width: 76px;
        height: 45px;
        padding: 0.5em 1em;
        display: inline-block;
        background-color: #FFF; 
        color: #000;
        cursor: pointer;
        text-align: center;
        transition: all 0.5s;
        border: none;
    
        font-family: inherit;
        line-height: inherit;
        /* 修復邊框 */
        
    }
    
    .btn-group button.active{ 
        background-color: #0074a9 !important; 
        color: #FFF;
    }
    /* .jp{
        padding: 0.5em 1em;
        display: table-cell;
        background: #FFF;
        cursor: pointer;
        text-align: center;
        transition: all 0.5s;
    } */
    
    /* .lang_switcher .en{
        padding: 0.5em 1em;
        display: table-cell;
        background: #FFF;
        cursor: pointer;
        text-align: center;
        transition: all 0.5s;
    } */
    
    .btn-group button:hover{
        color: #FFF;
        background-color: #C2BD91;
    }
    
    /* .lang_switcher .en:hover{
        color: #FFF;
        background-color: #C2BD91;
    } */
    
    h2{
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: 3em;
        margin-bottom: 1em;
        margin-left: 37px;
        font-size: 1.8em;
        line-height: 1.4;
        color: #000;
    }
    
    .fomenu_wrap{
        width: 900px;
        margin: 0 auto;
        
    }
    
    /* .btn-group input:checked + label{
        opacity: 1; 
        cursor: default;
        background: #D9ADA0;
        color: #fff;
        padding: 0.5em 1em;
        display: table-cell;
        text-align: center;
        
    }
    
    .btn-group label:hover{
        color: #FFF;
        background-color: #C2BD91;
    }
    
    .btn-group input:checked + .fomenu_row{
        display: initial;
    } */
    
    .row{
        display: table-cell;
        vertical-align: top;
        width: 50%;
        padding-left: 40px;
    
        order:1;
    
    }

    .row1{
        display: table-cell;
        vertical-align: top;
        width: 50%;
        padding-left: 40px;
    
        order:1;
    
    }
    
    .flexslider {
        width: 50%;
        min-width: 450px;
    }
    
    
    /* .flex-direction-nav a{
        display: none;
    } */
    /* .flex-prev{
        width: 30px !important;
    }
    
    .flex-next{
        width: 30px !important;
    } */
    
    /* #super{
        width: 450px !important;
        
    } */
    
    /* .flex-active-slide{
        width: 402px !important;
    } */
    
    /* .slides img{
        width: 450px !important; ;
    
    } */
    
    /* .fomenu_wrap img{
        width: 450px;
        height: 334px;
    
    } */
    
    .fomenu_lists{
        background: #F6F5F4;
        padding: 2em;
    }
    
    .fomenu_lists>li{
        display: list-item;
        list-style: none;
        border-bottom: 1px solid #E5E5E5;
        padding: 1em 0;
        font-weight: bolder;
    }
    
    .zh-foname{
        display: table-cell;
        vertical-align: middle;
        width: 270px;
    }
    
    .mcost{
        display: table-cell;
        vertical-align: middle;
    }
    
    
    
    /* ------flyout------ */
    .backtop{
        width: 100%;
        margin: 130px auto;
        /* margin-left: 100px; */
        /* text-align: center; */
        background-color: #FAEAE3;
        border: none;
    }
    
    .uparrow{
        background-color: #A49379;
        width: 38px;
        height: 38px;
        border-radius: 50px;
    
    }
    
    .uparrow{
        display: block;
        margin: 0 auto;
        transition: all .5s;
    }
    
    .uparrow:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    .backtop img{
        width: 38px;
        height: 38px;
    }
    
    
    
    .backtop p{
        writing-mode: vertical-lr;
        margin: 10px auto;
        width: 38px;
        line-height: 38px;
        font-weight: bold;
        color: #000;
    }
}


@media (max-width: 1024px) and (min-width: 768px){
    body{
        line-height:1.4;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        background-color: #FAEAE3;
    }
    
    
    .page-menu{
        transition: all 0.3s linear;
        padding: 170px 20px 80px;
        width: auto;
    }
    
    .menu_name{
    
    }
    
    .esbtn{
        text-align: center;
        margin: 3em 0 4em;
    }
    
    .esbtn p{
        padding: 0.7em 1.5em;
        font-size: 1.2em;
        letter-spacing: 2px;
        background: #D9ADA0;
        color: #fff;
        border-radius: 100px;
        display: inline-block;
        min-width: 80px;
        text-align: center;
        font-style: normal;
        text-decoration: none;
        transition: all .5s;
    }
    
    .esbtn p:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    .py-5{
        padding: 0em 0 5em;
    }
    
    .me_wrap{
        /* width: 900px; */
        width: 100%;
        margin: 0 auto;
    }
    
    .btn-group{
        display: table;
        float: right;
        position: relative;
        z-index: 1;
        overflow: hidden;
        
        
    }
    
    h3{ 
        color: #000;
        font-size: 1em;
        display: table-cell;
        padding-right: 1em;
        font-weight: bolder;
        line-height: 1.4;
    }
    
  
    
    .btn-group button{
        width: 76px;
        height: 45px;
        padding: 0.5em 1em;
        display: inline-block;
        background-color: #FFF; 
        color: #000;
        cursor: pointer;
        text-align: center;
        transition: all 0.5s;
        border: none;
    
        font-family: inherit;
        line-height: inherit;
        /* 修復邊框 */
        
    }
    
    .btn-group button.active{ 
        background-color: #0074a9 !important; 
        color: #FFF;
    }
    /* .jp{
        padding: 0.5em 1em;
        display: table-cell;
        background: #FFF;
        cursor: pointer;
        text-align: center;
        transition: all 0.5s;
    } */
    
    /* .lang_switcher .en{
        padding: 0.5em 1em;
        display: table-cell;
        background: #FFF;
        cursor: pointer;
        text-align: center;
        transition: all 0.5s;
    } */
    
    .btn-group button:hover{
        color: #FFF;
        background-color: #C2BD91;
    }
    
    /* .lang_switcher .en:hover{
        color: #FFF;
        background-color: #C2BD91;
    } */
    
    h2{
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: 3em;
        margin-bottom: 1em;
        margin-left: 37px;
        font-size: 1.8em;
        line-height: 1.4;
        color: #000;
    }
    
    .fomenu_wrap{
        /* width: auto; */
        width: 100%;
        margin: 0 auto;
        
    }
    
    

    /* .btn-group input:checked + label{
        opacity: 1; 
        cursor: default;
        background: #D9ADA0;
        color: #fff;
        padding: 0.5em 1em;
        display: table-cell;
        text-align: center;
        
    }
    
    .btn-group label:hover{
        color: #FFF;
        background-color: #C2BD91;
    }
    
    .btn-group input:checked + .fomenu_row{
        display: initial;
    } */
    
    .row{
        display: table-cell;
        vertical-align: top;
        width: 40%;
        /* padding-left: 20px; */
    
        order:1;
    
    }

    .row1{
        display: table-cell;
        vertical-align: top;
        /* width: 40%; */
        min-width: 60% !important; 
        padding-left: 40px;
    
        order:1;
    
    }

    /* .flex-viewport{
       width: 100%;
    } */
    
    .flexslider {
        width: 400px;
        /* max-width: 99%; */
      
    }
    
    
    /* .flex-direction-nav a{
        display: none;
    } */
    /* .flex-prev{
        width: 30px !important;
    }
    
    .flex-next{
        width: 30px !important;
    } */
    
    /* #super{
        width: 450px !important;
        
    } */
    
    /* .flex-active-slide{
        width: 402px !important;
    } */
    
    /* .slides img{
        width: 450px !important; ;
    
    } */
    
    /* .fomenu_wrap img{
        width: 450px;
        height: 334px;
    
    } */
    
    .fomenu_lists{
        background: #F6F5F4;
        padding: 2em;
    }
    
    .fomenu_lists>li{
        display: list-item;
        list-style: none;
        border-bottom: 1px solid #E5E5E5;
        padding: 1em 0;
        font-weight: bolder;
    }
    
    .zh-foname{
        display: table-cell;
        vertical-align: middle;
        width: 310px;
    }
    
    .mcost{
        display: table-cell;
        vertical-align: middle;
    }
    
    
    
    /* ------flyout------ */
    .backtop{
        width: 100%;
        margin: 130px auto;
        text-align: center;
        background-color: #FAEAE3;
        border: none;
    }
    
    .uparrow{
        background-color: #A49379;
        width: 38px;
        height: 38px;
        border-radius: 50px;
    
    }
    
    .uparrow{
        display: block;
        margin: 0 auto;
        transition: all .5s;
    }
    
    .uparrow:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    .backtop img{
        width: 38px;
        height: 38px;
    }
    
    
    
    .backtop p{
        writing-mode: vertical-lr;
        margin: 10px auto;
        width: 38px;
        line-height: 38px;
        font-weight: bold;
        color: #000;
    }
}

@media (max-width: 767.98px){
    body{
        line-height:1.4;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        background-color: #FAEAE3;
    }
    
    
    .page-menu{
        transition: all 0.3s linear;
        padding: 170px 20px 80px;
        width: auto;
    }
    
    .menu_name{
    
    }
    
    .esbtn{
        text-align: center;
        margin: 3em 0 4em;
    }
    
    .esbtn p{
        padding: 0.7em 1.5em;
        font-size: 1.2em;
        letter-spacing: 2px;
        background: #D9ADA0;
        color: #fff;
        border-radius: 100px;
        display: inline-block;
        min-width: 80px;
        text-align: center;
        font-style: normal;
        text-decoration: none;
        transition: all .5s;
    }
    
    .esbtn p:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    .py-5{
        padding: 0em 0 5em;
    }
    
    .me_wrap{
        /* width: 900px; */
        width: 100%;
        margin: 0 auto;
    }
    
    .btn-group{
        display: table;
        /* float: right; */
        margin: 0 auto;
        position: relative;
        z-index: 1;
        overflow: hidden;
        
        
    }
    
    h3{ 
        color: #000;
        font-size: 1em;
        font-weight: bolder;
        line-height: 1.4;
        text-align: center;
        padding-bottom: 20px;
    }
    
   
    .btn-group button{
        width: 70px;
        height: 45px;
        padding: 0.5em 1em;
        display: inline-block;
        background-color: #FFF; 
        color: #000;
        cursor: pointer;
        text-align: center;
        transition: all 0.5s;
        border: none;
    
        font-family: inherit;
        line-height: inherit;
        /* 修復邊框 */
        
    }
    
    .btn-group button.active{ 
        background-color: #0074a9 !important; 
        color: #FFF;
    }
    /* .jp{
        padding: 0.5em 1em;
        display: table-cell;
        background: #FFF;
        cursor: pointer;
        text-align: center;
        transition: all 0.5s;
    } */
    
    /* .lang_switcher .en{
        padding: 0.5em 1em;
        display: table-cell;
        background: #FFF;
        cursor: pointer;
        text-align: center;
        transition: all 0.5s;
    } */
    
    .btn-group button:hover{
        color: #FFF;
        background-color: #C2BD91;
    }
    
    /* .lang_switcher .en:hover{
        color: #FFF;
        background-color: #C2BD91;
    } */
    
    h2{
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: 3em;
        margin-bottom: 1em;
        margin-left: 37px;
        font-size: 1.8em;
        line-height: 1.4;
        color: #000;
    
        
    }
    
    .fomenu_wrap{
        width: 100%;
        margin: 0 auto;
        
    }
    
    /* .btn-group input:checked + label{
        opacity: 1; 
        cursor: default;
        background: #D9ADA0;
        color: #fff;
        padding: 0.5em 1em;
        display: table-cell;
        text-align: center;
        
    }
    
    .btn-group label:hover{
        color: #FFF;
        background-color: #C2BD91;
    }
    
    .btn-group input:checked + .fomenu_row{
        display: initial;
    } */
    
    .row{
        /* display: table-cell; */
        vertical-align: top;
        width: 100%;
        /* padding: 0 20px; */
    
        order:1;
    
    }

    .row1{
        display: table-cell;
        vertical-align: top;
        width: 50%;
        /* padding-left: 40px; */
    
        order:1;
    
    }
    
    .flexslider {
        min-width: 100%;
        /* min-width: 450px; */
    }
    
    
    /* .flex-direction-nav a{
        display: none;
    } */
    /* .flex-prev{
        width: 30px !important;
    }
    
    .flex-next{
        width: 30px !important;
    } */
    
    /* #super{
        width: 450px !important;
        
    } */
    
    /* .flex-active-slide{
        width: 402px !important;
    } */
    
    /* .slides img{
        width: 450px !important; ;
    
    } */
    
    /* .fomenu_wrap img{
        width: 450px;
        height: 334px;
    
    } */
    
    .fomenu_lists{
        background: #F6F5F4;
        padding: 2em;
    }
    
    .fomenu_lists>li{
        display: list-item;
        list-style: none;
        border-bottom: 1px solid #E5E5E5;
        padding: 1em 0;
        font-weight: bolder;
    }
    
    .zh-foname{
        display: table-cell;
        vertical-align: middle;
        width: 270px;
    }
    
    .mcost{
        display: table-cell;
        vertical-align: middle;
    }
    
    
    
    /* ------flyout------ */
    .backtop{
        width: 100%;
        margin: 130px auto;
        text-align: center;
        background-color: #FAEAE3;
        border: none;
    }
    
    .uparrow{
        background-color: #A49379;
        width: 38px;
        height: 38px;
        border-radius: 50px;
    
    }
    
    .uparrow{
        display: block;
        margin: 0 auto;
        transition: all .5s;
    }
    
    .uparrow:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    .backtop img{
        width: 38px;
        height: 38px;
    }
    
    
    
    .backtop p{
        writing-mode: vertical-lr;
        margin: 10px auto;
        width: 38px;
        line-height: 38px;
        font-weight: bold;
        color: #000;
    }
}

