@import url("reset.css"); 
@import url("H-F-w.css");
/* reset放第一行 */


    body{
        line-height:1.4;
        font-family:"STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        /* width: 100%; */
    }
    
    .section{
        display: block;
        /* width: 100%;  */
        /* height:100%; */
        
    }
    .fp-tablecell1{
        
        /* background-image: url(../img/首頁1.png);
        background-size: cover;
        background-repeat: no-repeat; */
    
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .section img{
        width: 100%;
        height:100%;
        display: block;
        background-position: center center;
        background-size: contain;
        object-fit: cover;
    }
    
    
    .articleWrap{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        /* 置中後回去原本自己的寬度!!  */
    
        text-align: center;
        transition: all 1.2s 1s;
        width: 90%;
    }
    
    .fp-tablecell1 .en{
        font: 36px/1 "Bree Serif", serif;
        letter-spacing: 5px;
        line-height: 1.2;
        color: #fff;
        margin-bottom: 22px;
        transition: all 0.5s;
        text-shadow: black 0.1em 0.1em 0.5em;
    }
    
    .fp-tablecell1 .m-btn{
    }
    
    .white:hover{
        background-color: #D9ADA0;
    }
    
    .white{
        font: 26px/1 "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        letter-spacing: 3px;
        color: #fff;
        position: relative;
        width: 146px;
        height: 42px;
        border: 3px solid #fff;
        margin: 0 auto;
        padding: 8px;
        transition: all 0.5s;
        cursor: pointer;
        white-space: nowrap;
        text-shadow: black 0.1em 0.1em 0.2em;
        
        border-radius: 50% 20% / 10% 40%;
    }
    
    
    .Main a{
        text-decoration: none;
    }
    
    
    .fp-tablecell2{
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
        
    }
    
    video{
        object-fit: cover;
        display: block;

        background-position: center center;
        background-size: contain;
        object-fit: cover;
     
    }
    
    .articleWrap .en{
        font: 36px/1 "Bree Serif", serif;
        letter-spacing: 3px;
        line-height: 1.2;
        color: #fff;
        margin-bottom: 22px;
        transition: all 0.5s;
    
    
        /* position: absolute;
        top: 55%;
        left: 50%;
        transform:translate(-50%);
        置中後回去原本自己的寬度!! */
    
        text-shadow: black 0.1em 0.1em 0.5em;
    }
    
    .m-btn2{
        /* position: absolute;
        top: 64%;
        left: 50%;
    
        transform:translate(-50%); */
        
    }
    
    .fp-tablecell3{
        
        /* background-image: url(../img/首頁3.png);
        background-size: cover;
        background-repeat: no-repeat; */
        position: relative;
        width: 100%;
        height: 100%;
        
    }
    
    .articleWrap-for3{
        position: absolute;
        top: 45%;
        left: 68%;
        
        transform:translate(-50%);
        /* 置中後回去原本自己的寬度!!  */
    
        text-align: center;
        transition: all 1.2s 1s;
        width: 90%;
    
    }
    
    
    .en3{
        font: 36px/1 "Bree Serif", serif;
        letter-spacing: 3px;
        line-height: 1.2;
        color: #fff;
        margin-bottom: 22px;
        transition: all 0.5s;
    
        /* position: absolute;
        top: 45%;
        left: 68%;
        
        transform:translate(-50%); */
        
    
        text-shadow: black 0.1em 0.1em 0.5em;
    }
    
    .m-btn3{
        /* position: absolute;
        top: 57%;
        left: 73%;
       
        transform:translate(-50%); */
    }
    
    
    
    
    
    
    
    .fp-tablecell4{
        
        /* background-image: url(../img/首頁4.png);
        background-size: cover;
        background-repeat: no-repeat; */
        width: 100%;
        height: 100%;
        position: relative;
        
    }
    
    
    
    .fp-tablecell4 .en{
        font: 36px/1 "Bree Serif", serif;
        letter-spacing: 3px;
        line-height: 1.2;
        color: #fff;
        margin-bottom: 22px;
        transition: all 0.5s;
        text-shadow: black 0.1em 0.1em 0.5em;
    }
    
    .fp-tablecell4 .m-btn{
        
    }

    #section4{
        height: 145px !important;
    }
    


@media (max-width: 1024PX){
    .articleWrap .en{
        font: 24px/1 "Bree Serif", serif;
        letter-spacing: 5px;
        line-height: 1.2;
        color: #fff;
        margin-bottom: 11px;
        transition: all 0.5s;
        text-shadow: black 0.1em 0.1em 0.5em;
    }
    
    .white{
        font: 14px/1 "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        letter-spacing: 3px;
        color: #fff;
        position: relative;
        width: 146px;
        height: 42px;
        border: 3px solid #fff;
        margin: 0 auto;
        padding: 8px;
        transition: all 0.5s;
        cursor: pointer;
        white-space: nowrap;
        text-shadow: black 0.1em 0.1em 0.2em;
        
        border-radius: 50% 20% / 10% 40%;
    }
    
    
    .articleWrap-for3{
        position: absolute;
        top: 60%;
        left: 50%;
        
        transform:translate(-50%);
        /* 置中後回去原本自己的寬度!!  */
    
        text-align: center;
        transition: all 1.2s 1s;
        width: 90%;
    
    }
    
    
    .en3{
        font: 24px/1 "Bree Serif", serif;
        letter-spacing: 3px;
        line-height: 1.2;
        color: #fff;
        margin-bottom: 22px;
        transition: all 0.5s;

        text-shadow: black 0.1em 0.1em 0.5em;
    }

    
    
    
}






