@import url("reset.css");

body{
    line-height:1.4;
    font-family: '思源黑體';
}

/* ---------Header---------- */
.desktop-topmenuWrap{
    width: 100%;
    
    position: fixed; 
    z-index: 1;
    display: flex;
    justify-content: center;

}

.BLOGO{ 
    
    margin-top: 30px;
    padding-right: 50px;
    
}   

.BLOGO img{
    width: 125px;
    height: 126px;
}

.desktop-topmenuWrap ul{
    list-style: none;
    overflow: hidden;
}

.desktop-topmenuList li{
    float: left;
    font-size: 24px;
    padding: 0 20px;
    padding-top: 60px;
}

.desktop-topmenuList a{
    text-decoration: none;
    color: #fff;
}

.desktop-topmenuList ul{
    list-style: none;
    overflow: hidden;
    
}


.top-linkList {
    display: inline-flex;
    padding-top: 60px;
    margin-left: 10px;
}

.top-linkList li{
    padding-left: 20px;
}

.top-linkList li img{
    width: 30px;
    height: 30px;
}





.section{
    display: block;
    font-size: 36px;
    color: #fff;
    min-width: 910px;
    
}
.fp-tablecell1{
    
    background-image: url(../img/首頁1.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 864px;
}

.fp-tablecell1 .en{
    text-align: center;
    padding-top: 555px;
    
}

.fp-tablecell1 .m-btn{
    text-align: center;
}

.m-btn .white{
    border: 3px solid #fff;
    padding: 8px;
    font-size: 26px;
}

.section a{
    text-decoration: none;
    color: #fff;
    
}


.fp-tablecell2{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    
}

video{
    display: block;
}

.en2{
    color: white;
    position: absolute;
    left: 50%;
    top: 60%;
    transform:translate(-50%, -50%);
    /* 置中後回去原本自己的寬度!! */
}

.m-btn2{
    font-size: 20px;
    color: white;
    position: absolute;
    left: 50%;
    top: 70%;
    transform:translate(-50%, -50%);
    border: 3px solid #fff;
    padding: 8px;
    font-size: 26px;
}

.fp-tablecell3{
    
    background-image: url(../img/首頁3.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 864px;
    
}


.en3{
    color: white;
    position: absolute;
    left: 70%;
    top: 50%;
    transform:translate(-50%, -50%);
    /* 置中後回去原本自己的寬度!! */
}

.m-btn3{
    font-size: 20px;
    color: white;
    position: absolute;
    left: 70%;
    top: 58%;
    transform:translate(-50%, -50%);
    border: 3px solid #fff;
    padding: 8px;
    font-size: 26px;
}







.fp-tablecell4{
    
    background-image: url(../img/首頁4.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 864px;
    
}

.fp-tablecell4 .en{
    text-align: center;
    padding-top: 410px;
}

.fp-tablecell4 .m-btn{
    text-align: center;
}



/* ---------Footer---------- */
.desktop-footerWrap{
    width: 100%;
    display: flex;
    justify-content: center;

}

.infor{
    font-size: 20px;
    margin-top: 45px;
    color: black;
    width: 500px;
    
}

.infor a{
    text-decoration: none;
    color: black;
}

.infor .info-d{
    font-size: 12px;
}

.copyright{
    margin-left: 290px;
}

.footer-linkList{
    display: inline-flex;
    margin-left: 336px;
    margin-top: 40px;
    /* margin-top: 40px; */
}

.footer-linkList li{
    padding-left: 20px;
}

.footer-linkList li img{
    width: 30px;
    height: 30px;
}