@import url("https://fonts.googleapis.com/css?family=Lato:300");
@import url("reset.css");
@import url("H-F-b.css");

@media (min-width: 1025px){
    body{
        line-height:1.4;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        background-color: #FAEAE3;
    }
    
    .map{
        transition: all 0.3s linear;
    }
    
    iframe{
        width: 100%;
    }
    
    .map-info{
        width: 100%;
        margin-top: 70px;
    }
    
    .title{
        width:150px;
        background-color: #D9ADA0;
        margin: 0 auto;
        color: #fff;
        font-size: 28px;
        font-family: "微軟正黑體";
        text-align: center;
        padding: 5px;
        border-radius: 10% / 50%;
    
    }
    
    .detail-info{
        display: flex;
        justify-content: center;
        margin: 130px auto;
        /* height: 150px; */
        align-items: center;
        
    }
    
    .info{
        width: 370px;
       
    }

    img{
        width:100%;
    }
    
    
    .info-content{
        width:350px;
        margin: 60px auto;
        font-size: 18px;
        font-family: "微軟正黑體";
        text-align: center;
    }    
    
    
    .info-content p{
        transition: all .5s;
        color: #fff;
        background-color: #A49379;

        position: relative;
        --border-width: 5px;

    }

    .info-content p::after{
        position: absolute;
            content: "";
            top: calc(-1 * var(--border-width));
            left: calc(-1 * var(--border-width));
            z-index: -1;
            width: calc(100% + var(--border-width) * 2);
            height: calc(100% + var(--border-width) * 2);
            background-image: linear-gradient(305deg, 
            hsl(151,59%,76%),
            hsl(202.429,59%,76%),
            hsl(253.857,59%,76%),
            hsl(305.286,59%,76%),
            hsl(356.714,59%,76%),
            hsl(48.143,59%,76%),
            hsl(99.571,59%,76%));
            background-size: 300% 300%;
            background-position: 0 50%;
            border-radius: calc(2 * var(--border-width));
            animation: moveGradient 4s alternate infinite;

    }


    @keyframes moveGradient {
        50% {
          background-position: 100% 50%;
        }
    }
    
    .info-content p:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    .trans{
        width: 370px;
        margin-left: 200px;
    }


    .trans-content{
        margin-left: 100px;
        width:320px;
        margin: 60px auto;
        color: #fff;
        font-size: 18px;
        font-family: "微軟正黑體";
        text-align: center;
        
    }
    
    .trans-content p{
        transition: all .5s;
        background-color: #A49379;

        position: relative;
        --border-width: 5px;   
    }

    .trans-content p::after{
        position: absolute;
            content: "";
            top: calc(-1 * var(--border-width));
            left: calc(-1 * var(--border-width));
            z-index: -1;
            width: calc(100% + var(--border-width) * 2);
            height: calc(100% + var(--border-width) * 2);
            background-image: linear-gradient(305deg, 
            hsl(151,59%,76%),
            hsl(202.429,59%,76%),
            hsl(253.857,59%,76%),
            hsl(305.286,59%,76%),
            hsl(356.714,59%,76%),
            hsl(48.143,59%,76%),
            hsl(99.571,59%,76%));
            background-size: 300% 300%;
            background-position: 0 50%;
            border-radius: calc(2 * var(--border-width));
            animation: moveGradient 4s alternate infinite;

    }
    


    .trans-content p:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
}

@media (max-width: 1024px){
    body{
        line-height:1.4;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        background-color: #FAEAE3;
        
    }
    
    .map{
        width: auto;
        transition: all 0.3s linear;
        padding: 170px 20px 80px;
        overflow: hidden;

        z-index: 10;
    }
    
    .map-area{
        width: 100%;
    }

    iframe{
        width: 100%;
    }
    
    .map-info{
       
        margin-top: 70px;
    }
    
    .title{
        width:100px;
        background-color: #D9ADA0;
        margin: 0 auto;
        color: #fff;
        font-size: 20px;
        font-family: "微軟正黑體";
        text-align: center;
        padding: 5px;
        border-radius: 10% / 50%;
    
    }
    
    .detail-info{
        margin: 100px auto;
    }
    
    
    
    .info{
        width: 100%;
       
    }

    img{
        width:100%;
    }
    
    
    .info-content{
        width: 100%;
        margin: 60px auto;
        font-size: 16px;
        font-family: "微軟正黑體";
        text-align: center;
        
        
    }
    
    .info-content p{
        transition: all .5s;
        color: #fff;
        
        background-color: #A49379;
        
        position: relative;
        --border-width: 5px;
    }

    .info-content p::after{
        position: absolute;
            content: "";
            top: calc(-1 * var(--border-width));
            left: calc(-1 * var(--border-width));
            z-index: -1;
            width: calc(100% + var(--border-width) * 2);
            height: calc(100% + var(--border-width) * 2);
            background-image: linear-gradient(305deg, 
            hsl(151,59%,76%),
            hsl(202.429,59%,76%),
            hsl(253.857,59%,76%),
            hsl(305.286,59%,76%),
            hsl(356.714,59%,76%),
            hsl(48.143,59%,76%),
            hsl(99.571,59%,76%));
            background-size: 300% 300%;
            background-position: 0 50%;
            border-radius: calc(2 * var(--border-width));
            animation: moveGradient 4s alternate infinite;

    }


    @keyframes moveGradient {
        50% {
          background-position: 100% 50%;
        }
    }
    
    /* .info-content p:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
        color: #fff;
    } */
    
    .trans{
        width: 100%;
    }


    .trans-content{
        width: 100%;
        margin: 60px auto;
        color: #fff;
        font-size: 16px;
        font-family: "微軟正黑體";
        text-align: center;
    }
    
    .trans-content p{
        transition: all .5s;
        background-color: #A49379;
        position: relative;
        --border-width: 5px; 
        
    }

    .trans-content p::after{
        position: absolute;
            content: "";
            top: calc(-1 * var(--border-width));
            left: calc(-1 * var(--border-width));
            z-index: -1;
            width: calc(100% + var(--border-width) * 2);
            height: calc(100% + var(--border-width) * 2);
            background-image: linear-gradient(305deg, 
            hsl(151,59%,76%),
            hsl(202.429,59%,76%),
            hsl(253.857,59%,76%),
            hsl(305.286,59%,76%),
            hsl(356.714,59%,76%),
            hsl(48.143,59%,76%),
            hsl(99.571,59%,76%));
            background-size: 300% 300%;
            background-position: 0 50%;
            border-radius: calc(2 * var(--border-width));
            animation: moveGradient 4s alternate infinite;

    }
    
    /* .trans-content p:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    } */

}



