@import url("reset.css");
@import url("H-F-b.css");

body{
    line-height:1.4;
    font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    background-color: #ECEAEA;
}






.page-content-wrapper{
    /* width: 1210px; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px auto;
    padding: 0px 20px 80px;
}

.left-menu-section{
    width: 223px;
    height: 324px;
    background-color: #fff;
    
    overflow: hidden;

    
    
}

.left-menu-section>h3{
    font-size: 20px;
    text-align: center;
    height: 54px;
    line-height: 54px;
    color: #D9ADA0;
    border-bottom: 1px solid #E5E5E5;
}


.left-menu-section li{
    height: 54px;
    padding-left: 25px;
    line-height: 54px;
    border-bottom: 1px solid #E5E5E5;
}

.left-menu-section a{
    text-decoration: none;
    color: black;
    display: block;
}

.left-menu-section li a:hover{
    color: #D9ADA0;
}

.left-menu-list li:first-child a{
    font-weight: bold;
    
}

.left-menu-list li:first-child a:hover{
    color: black;
}


.main-content-blk{
    margin-left: 70px;
    width: 910px;
   
}

.breadcrumb{

}

.breadcrumb a{
    text-decoration: none;
    color: black;
}

.product-info-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    
}



.product-info-card{
    height: 301px;
    margin-right: 48px;
    margin-bottom: 140px;
    background-color: #fff;
    display: block;
}



.product-info-card a{
    text-decoration: none;
    height: 289px;
    color: black;
    display: block;
    padding: 3px;
    border:3px solid transparent;

}

.product-info-card a:hover{
    
    border:3px solid #D9ADA0;
}

.thumb-frame img{
    width: 166px;
    height: 166px;
}

.info-blk{
    text-align: center;
    padding-top: 26px;
}

.info-blk>h3{

}

.info-blk .price-blk{

}

.info-blk>h3{
    font-size: 15px;
    font-weight: bold;
}

.price-blk .del{
    color: #999;
}

.price-blk .price{
    color: #ea4c4c;
}




