@import url("reset.css");

body{
    line-height:1.4;
    font-family: '思源黑體';
}

.desktop-topmenuWrap{
    height: 235px;
    
    position: fixed;
    left: 10%;
    top: 0%;
    /* 固定在左上 */
    
    

    z-index: 1;
    display: flex;

}

.desktop-topmenuWrap .BLOGO{
    width: 125px;
    height: 126px;
    margin-left: 75px;
    margin-top: 30px;
    padding-right: 50px;
    
}   

.desktop-topmenuWrap ul{
    list-style: none;
    overflow: hidden;
}

.desktop-topmenuList li{
    float: left;
    font-size: 24px;
    padding: 0 20px;
    padding-top: 60px;
}

.desktop-topmenuList a{
    text-decoration: none;
    color: #fff;
}

.desktop-topmenuList ul{
    list-style: none;
    overflow: hidden;
    
}


.top-linkList {
    display: inline-flex;
    padding-top: 60px;
    margin-left: 10px;
}

.top-linkList li{
    padding-left: 20px;
}

.top-linkList li img{
    width: 30px;
    height: 30px;
}





.section{
    display: block;
    font-size: 36px;
    color: #fff;
    
}
.fp-tablecell1{
    
    background-image: url(../img/首頁1.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 864px;
}

.fp-tablecell1 .en{
    text-align: center;
    padding-top: 555px;
    
}

.fp-tablecell1 .m-btn{
    text-align: center;
}

.m-btn .white{
    border: 3px solid #fff;
}

.section a{
    text-decoration: none;
    color: #fff;
    
}


.fp-tablecell2{
    
    background-image: url(../img/首頁2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 864px;
    
}

.fp-tablecell2 .en{
    text-align: center;
    padding-top: 525px;
}

.fp-tablecell2 .m-btn{
    text-align: center;
}

.fp-tablecell3{
    
    background-image: url(../img/首頁3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 864px;
    
}

.fp-tablecell3 .en{
    padding-top: 415px;
    padding-left: 875px; 
}


.fp-tablecell3 .m-btn{
    margin-left: 955px;
}

.fp-tablecell4{
    
    background-image: url(../img/首頁4.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 864px;
    
}

.fp-tablecell4 .en{
    text-align: center;
    padding-top: 410px;
}

.fp-tablecell4 .m-btn{
    text-align: center;
}




.desktop-footerWrap{
    height: 135px;
    margin:0 auto; 
    display: flex;

}

.infor{
    font-size: 20px;
    margin-left: 150px;
    margin-top: 45px;
    color: black;
    width: 500px;
    
}

.infor a{
    text-decoration: none;
    color: black;
}

.infor .info-d{
    font-size: 12px;
}

.copyright{
    margin-left: 290px;
}

.footer-linkList{
    display: inline-flex;
    margin-left: 336px;
    margin-top: 40px;
    /* margin-top: 40px; */
}

.footer-linkList li{
    padding-left: 20px;
}

.footer-linkList li img{
    width: 30px;
    height: 30px;
}