@import url("reset.css");
@import url("H-F-w.css");

@media (min-width: 1025px){
    body{
        line-height:1.4;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        background-color: #D9ADA0;
        
    }
    
    /* ------Header------ */
    
    .desktop-topmenuList li a:hover{
        color: #A49379;
    }
    
    /* ------main-content------ */
    
    .super{
        overflow: hidden;
        width: auto;
        
    }
    .seciton{
        display: block;
        
    }
    
    .main-content{
        width: 100%;
        
        padding-top: 200px;
        text-align: center;
    }
    
    .main-top{
        color: #fff;
        margin-bottom: 50px;
    }
    
    .main-top .title{
        font-weight: bold;
        font-size: 30px;
    }
    
    .big-logo{
        margin: 50px auto;
    }
    
    .big-logo img{
        width: 216px;
        border-radius: 50%;
        transition: all .5s;
    }
    
    .big-logo img:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    
    .logo-content{
        font-size: 25px;
    }
    
    /* ------content1------ */
    .art-sectionwrap1{
        width: 100%;
        
        text-align: center;
        background-color: #8FB3B8;
    }
    
    .banner-area{
        display: block;
        
    }
    .banner-area img{
        width: 100%;
        
    }
    
    .article-container{
        margin: 0 auto;
        padding-top: 100px;
        
    }
    
    
    .title-area{
        font-size: 36px;
        font-weight: 700;
        margin: 0 auto;
        padding: 5px;
        color: #8FB3B8;
        background-color: #FFF;
        width: 430px;
        letter-spacing: 1px;
    }
    
    .note-area{
        font-size: 30px;
        font-weight: 700;
        margin: 30px auto;
        padding: 5px;
        color: #000;
        background-color: #FFF;
        width: 250px;
        letter-spacing: 1px;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    }
    
    
    .content-cell-shirk{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 2;
        color: #FFF;
    }
    
    .concept-area{
        margin-top: 32px;
    }
    
    .head{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 6px;
        color: #FFF;
        margin-bottom: 22px; 
        position: relative;
        z-index: 1;  
    }
    
    .head:after{
        content: '';
        z-index: -1;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 150px;
        height: 4px;
        margin-left: -79px;
        background-color: #000;
    }
    
    .content-ch{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 2;
        color: #FFF;
        margin-bottom: 20px;
    }
    
    .info-area{
        border-top: 1px solid #FFF;
        padding-top: 40px;
        margin: 0 auto;
    
        display: flex;
        justify-content: center;
       
    }
    
    .pic img{
        width: 196px;
        padding-bottom: 30px;
    
    }
    
    
    .article-area{
        margin-left: 20px;
    
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.8;
        color: #FFF;
    }
    
    /* ------content2------ */
    .art-sectionwrap2{
        width: 100%;
        
        text-align: center;
        background-color: #C2BD91;
    }
    
    
    .title-area2{
        font-size: 36px;
        font-weight: 700;
        margin: 0 auto;
        padding: 5px;
        color: #C2BD91;
        background-color: #FFF;
        width: 455px;
        letter-spacing: 1px;
    }
    
    .note-area2{
        font-size: 30px;
        font-weight: 700;
        margin: 30px auto;
        padding: 5px;
        color: #000;
        background-color: #FFF;
        width: 250px;
        letter-spacing: 1px;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    }
    
    
    .content-cell-shirk2{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 2;
        color: #000;
    }
    
    .content-small{
        margin-top: 10px;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 2;
        color: #000;
    }
    
    .head2{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 6px;
        color: #000;
        margin-bottom: 22px; 
        position: relative;
        z-index: 1;  
    }
    
    .head2:after{
        content: '';
        z-index: -1;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 150px;
        height: 4px;
        margin-left: -79px;
        background-color: #FFF;
    }
    
    .content-ch2{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 2;
        color: #000;
        margin-bottom: 20px;
    }
    
    .info-area2{
        border-top: 1px solid #000;
        padding-top: 40px;
        margin: 0 auto;
    
        display: flex;
        justify-content: center;
       
    }
    
    .info-area2 img{
        width: 186px;
        margin-left: 130px;
    
    }
    
    
    .article-area2{
        margin-left: 60px;
    
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.8;
        color: #000;
        text-align: left;
    }
    
    
    
    
    /* ------content3------ */
    .art-sectionwrap3{
        width: 100%;
        
        text-align: center;
    }
    
    .title-area3{
        font-size: 36px;
        font-weight: 700;
        margin: 0 auto;
        padding: 5px;
        color: #D9ADA0;
        background-color: #FFF;
        width: 430px;
        letter-spacing: 1px;
    }
    
    
    
    .pic-area3{
        padding-top: 40px;
        margin: 40px auto;
        width: 100%;
    
        display: flex;
        justify-content: center;
       
    }
    
    .pic-3 img{
        width: 90%;
        /* margin-left: 25px; */
        transition: all .5s;
    }
    
    .pic-3 img:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    
    
    
    
    
    /* ------flyout------ */
    .backtop{
        margin: 130px auto;
        text-align: center;
        background-color: #D9ADA0;
        border: none;
    }
    
    .uparrow{
        background-color: #A49379;
        width: 38px;
        height: 38px;
        border-radius: 50px;
    
    }
    
    .uparrow{
        display: block;
        margin: 0 auto;
        transition: all .5s;
    }
    
    .uparrow:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    .backtop img{
        width: 38px;
        height: 38px;
    }
    
    
    
    .backtop p{
        writing-mode: vertical-lr;
        margin: 10px auto;
        width: 38px;
        line-height: 38px;
        font-weight: bold;
        color: #000;
    }
}

@media (max-width: 1025px){
    body{
        line-height:1.4;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        background-color: #D9ADA0;
        
    }
    
    /* ------Header------ */
    
    .desktop-topmenuList li a:hover{
        color: #A49379;
    }
    
    /* ------main-content------ */
    
    .super{
        overflow: hidden;
        width: auto;
        
    }
    .seciton{
        display: block;
        
    }
    
    .main-content{
        width: 100%;
        
        padding-top: 200px;
        text-align: center;
    }
    
    .main-top{
        color: #fff;
        margin-bottom: 12px;
    }
    
    .main-top .title{
        font-weight: bold;
        font-size: 15px;
    }
    
    .big-logo{
        margin: 50px auto;
    }
    
    .big-logo img{
        width: 150px;
        border-radius: 50%;
        transition: all .5s;
    }
    
    .big-logo img:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    
    .logo-content{
        font-size: 13px;
    }
    
    /* ------content1------ */
    .art-sectionwrap1{
        width: 100%;
        
        text-align: center;
        background-color: #8FB3B8;
    }
    
    .banner-area{
        display: block;
        
    }
    .banner-area img{
        width: 100%;
        
    }
    
    .article-container{
        margin: 0 auto;
        padding-top: 100px;
        
    }
    
    
    .title-area{
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
        padding: 5px;
        color: #8FB3B8;
        background-color: #FFF;
        width: 240px;
        letter-spacing: 1px;
    }
    
    .note-area{
        font-size: 18px;
        font-weight: 700;
        margin: 30px auto;
        padding: 5px;
        color: #000;
        background-color: #FFF;
        width: 130px;
        letter-spacing: 1px;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    }
    
    
    .content-cell-shirk{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 2;
        color: #FFF;
    }
    
    .concept-area{
        margin-top: 32px;
    }
    
    .head{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 6px;
        color: #FFF;
        margin-bottom: 22px; 
        position: relative;
        z-index: 1;  
    }
    
    .head:after{
        content: '';
        z-index: -1;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 150px;
        height: 4px;
        margin-left: -79px;
        background-color: #000;
    }
    
    .content-ch{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 2;
        color: #FFF;
        margin-bottom: 20px;
    }
    
    .info-area{
        border-top: 1px solid #FFF;
        padding-top: 40px;
        margin: 0 auto;
       
    }
    
    .pic img{
        width: 196px;
        padding-bottom: 30px;
    
    }
    
    
    .article-area{
        /* margin-bottom: 12px; */
        padding: 0px 20px 30px;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-size: 14px;
        /* letter-spacing: 1.2px; */
        line-height: 1.5;
        color: #FFF;
    }
    
    /* ------content2------ */
    .art-sectionwrap2{
        width: 100%;
        
        text-align: center;
        background-color: #C2BD91;
    }
    
    
    .title-area2{
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
        padding: 5px;
        color: #C2BD91;
        background-color: #FFF;
        width: 280px;
        letter-spacing: 1px;
    }
    
    .note-area2{
        font-size: 18px;
        font-weight: 700;
        margin: 30px auto;
        padding: 5px;
        color: #000;
        background-color: #FFF;
        width: 130px;
        letter-spacing: 1px;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    }
    
    
    .content-cell-shirk2{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 2;
        color: #000;
    }
    
    .content-small{
        margin-top: 10px;
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 2;
        color: #000;
    }
    
    .head2{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 6px;
        color: #000;
        margin-bottom: 22px; 
        position: relative;
        z-index: 1;  
    }
    
    .head2:after{
        content: '';
        z-index: -1;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 150px;
        height: 4px;
        margin-left: -79px;
        background-color: #FFF;
    }
    
    .content-ch2{
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-size: 12px;
        padding: 0px 20px;
        letter-spacing: 1px;
        line-height: 1.5;
        color: #000;
        margin-bottom: 20px;
    }
    
    .info-area2{
        border-top: 1px solid #000;
        padding-top: 40px;
        margin: 0 auto;
    
        
       
    }
    
    .info-area2 img{
        width: 130px;
    }
    
    
    .article-area2{
       
    
        font-family: "STXihei", "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
        font-size: 12px;
        padding: 0px 20px 40px;
        letter-spacing: 1px;
        line-height: 1.5;
        color: #000;
        text-align: center;
    }
    
    
    
    
    /* ------content3------ */
    .art-sectionwrap3{
        width: 100%;
        
        text-align: center;
    }
    
    .title-area3{
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
        padding: 5px;
        color: #D9ADA0;
        background-color: #FFF;
        width: 180px;
        letter-spacing: 1px;
    }
    
    
    
    .pic-area3{
        padding-top: 40px;
        margin: 40px auto;
        width: 100%;

    
    
       
    }
    
    .pic-3 img{
        width: 90%;
        /* margin-left: 25px; */
        transition: all .5s;
        padding-bottom: 40px;
    }
    
    .pic-3 img:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    
    
    
    
    
    /* ------flyout------ */
    .backtop{
        margin: 130px auto;
        text-align: center;
        background-color: #D9ADA0;
        border: none;
    }
    
    .uparrow{
        background-color: #A49379;
        width: 38px;
        height: 38px;
        border-radius: 50px;
    
    }
    
    .uparrow{
        display: block;
        margin: 0 auto;
        transition: all .5s;
    }
    
    .uparrow:hover{
        z-index: 1;
    
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    }
    
    .backtop img{
        width: 38px;
        height: 38px;
    }
    
    
    
    .backtop p{
        writing-mode: vertical-lr;
        margin: 10px auto;
        width: 38px;
        line-height: 38px;
        font-weight: bold;
        color: #000;
    }

    /* 展開區域 */
    .menu-content{
        width: 70%;
        height: 100vh;
        background-image: linear-gradient(305deg, 
        hsl(151,59%,76%),
        hsl(202.429,59%,76%),
        hsl(253.857,59%,76%),
        hsl(305.286,59%,76%),
        hsl(356.714,59%,76%),
        hsl(48.143,59%,76%),
        hsl(99.571,59%,76%));
        background-size: 300% 300%;
        background-position: 0 50%;
        animation: moveGradient 4s alternate infinite; 
        padding: 49px 20px;

    }

    @keyframes moveGradient {
        50% {
        background-position: 100% 50%;
        }
    }

    .menu_body {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
       
        transform: translateX(-100%);
        transition: 0.5s all ease; 
        
        z-index: 99;
    }
    
    

    .mobile-topmenuList a{
        font: 13px/1 "Bree Serif", serif;
        letter-spacing: 1px;
        color: #FFF;
        text-decoration: none;
    }
    

    


}





